Flask==1.0.2
Flask-SQLAlchemy==2.4.1
SQLAlchemy==1.3.13
requests==2.31.0
marshmallow==2.18.0
marshmallow_jsonapi
Flask-REST-JSONAPI==0.30.1
gunicorn==19.7.1
Flask-Migrate==2.5.2
dash==1.13.3
redis==3.3.8
Flask-Caching==1.0.0
